<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>delete-a-page</title>
    <link rel="stylesheet" type="text/css" href="http://www.floringiurca.ro/mystyle.css">
</head>
<body>
<div>
    <h3> DELETE PAGES</h3>
    <div>
        <table id = "pages">
            <tr class="header_row">
                <th>Page</th>
                <th>Reject</th>
            </tr>
            <div th:each="page : ${pages}">
                <tr>
                    <td><div th:utext="${page.title}"></div></td>
                    <td><button class="tablinks" ><a th:href=@{/removePage(titlu=${page.title})} >Delete</a></button></td>
                </tr>

            </div>
        </table>

    </div>
</div>
</body>
</html>