<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:width="http://www.w3.org/1999/xhtml">
<head>
    <title>Florin-Giurca-Java-Blog</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-2975ZKJ7PC"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-2975ZKJ7PC');
    </script>
    <link rel="stylesheet" type="text/css" href="http://www.floringiurca.ro/mystyle.css">
    <link rel="apple-touch-icon" sizes="180x180" href="http://floringiurca.ro/media_ress/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="http://floringiurca.ro/media_ress/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="http://floringiurca.ro/media_ress/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Florin Giurcă</title>
    <meta name="description" author="Florin Giurcă"/>
    <meta name="keywords" content="Florin Giurcă, atelier de scriere"/>
    <meta charset="utf-8" />
</head>
<body >

<div class="container">
    <div id="coperta">
       <img src="coperta.jpg" width="100%" alt = "coperta"  id=start>
    </div>
    <div class="row">
        <!-- coloana I -------coloana I--------coloana I---------coloana I-------coloana I                             --->
        <div class="col-lg-8" id="colst">
            <div class="iframe-container" >
                <p><div th:utext="${lastPageContent}"></div></p><br />
                <div th:utext="${lastPagePhoto}"></div><br />
            </div>

            <div>
                <div><span th:if="${nrComPage == 0}"><h4><i>NU SUNT COMENTARII</i></h4></span></div>
                <div><span th:unless="${nrComPage == 0}"><h4><i>COMENTARII</i></h4></span>
                     <div>
                         <div th:each="comment : ${thisPageComments}">
                            <div th:utext="${comment.name}"></div>
                            <div th:utext="${comment.comment}"></div>
                            _______________________
                         </div>
                    </div>
                </div>
            </div>
            <div>
                <span>
                    <h4>
                        <i>COMENTEAZĂ ACEST ARTICOL</i>
                    </h4>
                </span>
                <button class="tablinks" onclick="openTab(event, 'add-comment')"><a th:href=@{/add-comment(lastPage=${lastPage})} >Add comment</a></button>
            </div>
        </div>

        <!-- coloana 2 -----coloana 2 --------coloana 2 -----coloana 2 -------coloana 2 -------coloana 2 --->

        <div class="col-lg-4" id="coldr" >
            <div>
                <a href="/getPassword" target="_blank"><img src="rsz_1200px-circle-icons-tools.png" align="left" ></a>
                <a HREF="mailto:florin.fg@gmail.com" ><img src = "email-icon-email-icon.png" width="20%" style="float:left" class="zoom"></a>
                <div th:utext = "${faceBookLogo}"></div>
                <br />
            <div th:utext="${aboutLink}"></div>

            <br /><h3><i>CĂRȚI</i></h3><br />
            <div>
                <div th:each="book : ${books}">
                    <div th:utext="${book.cover}"></div>
                </div>
            </div>

            <br /><h3><i>BLOGURI</i></h3><br />
            <div>
                <div th:each="blog : ${blogs}">
                    <a th:href=${blog.link} target = a><div th:utext="${blog.name}"></div></a>
                </div>
            </div>
            <br /><h3><i>POVESTIRI</i></h3><br />
            <div>
                <div th:each="page : ${pages}">
                    <div th:if="${page.label == 'p'}"><a th:href=@{/getPage(requestPage=${page.title},requestImage=${page.photo})}><div th:utext="${page.title}"></div></a></div>
                </div>
            </div>
            <br /><h3><i>RECENZII</i></h3><br />
            <div>
                <div th:each="page : ${pages}">
                    <div th:if="${page.label == 'r'}"><a th:href=@{/getPage(requestPage=${page.title},requestImage=${page.photo})}><div th:utext="${page.title}"></div></a></div>
                </div>
            </div>
            <br /><h3><i>CITATUL ZILEI</i></h3><br />
            <div>
                <div th:utext="${qLink}"></div><br />
                <div th:utext="${qText}"></div><br />
            </div>

            <br /><h3><i>COMENTARII</i></h3><br />
            <div>
                <div th:each="comment : ${listOfComments}">
                    În:<div><a  th:href=@{/getPage(requestPage=${comment.page_commented})}><div th:utext="${comment.page_commented}"></div></a></div>
                    <div th:utext="${comment.name}"></div>_______________________
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!--       FOOTER                -->
<br />
    <div class="fb-like" data-href="" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
<br />
    <center>
    <div th:utext = "${newRule}"></div>
    <br />
    <br />
    <br />
    <div th:utext = "${topButton}"></div>
    <br>
    <br />
    <font face="times new roman" size="3" color="#660066">Proiectarea si programarea în Java, Spring, ThymeLeaf, JavaScript și MySQL a acestui blog: Florin Giurcă </font>
    </center>

</body>
<div id="fb-root">
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/ro_RO/sdk.js#xfbml=1&version=v2.3";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
</div>
<!-- resizing iframe -->
<script type="text/javascript">
  function iFrameLoaded() {
      var iFrameID = document.getElementById('main-frame');
      if(iFrameID) {
            iFrameID.height = "";
            iFrameID.height = iFrameID.contentWindow.document.body.scrollHeight + "px";
      }
  }
</script>
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</html>