<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>moderate</title>
    <link rel="stylesheet" type="text/css" href="http://www.floringiurca.ro/mystyle.css">
</head>
<body>
<div>
    <h3> MODERATE COMMENTS</h3>
    <div>
        <table id = "comments">
            <tr class="header_row">
                <th>Page commented</th>
                <th>User</th>
                <th>Comment</th>
                <th>Approve</th>
                <th>Reject</th>
            </tr>
            <div th:each="comment : ${unModeratedComments}">
                <tr>
                    <td><div th:utext="${comment.page_commented}"></div></td>
                    <td th:utext="${comment.name}"></td>
                    <td th:utext="${comment.comment}"></td>

                    <td><button class="tablinks" ><a th:href=@{/approve(nr=${comment.nr})} >Approve</a></button></td>
                    <td><button class="tablinks" ><a th:href=@{/reject(nr=${comment.nr})} >Reject</a></button></td>
                </tr>

            </div>
        </table>

    </div>
</div>
</body>
</html>